body {
	margin:0;
	padding: 0;
	outline: 0;
	border: none;
	font: 18px Arial, Tahoma, sans-serif;
}
h1, h2 {
	text-align: center;
}

.box1 {
	margin: 10px auto;
	width: 850px;
}

.box {
	margin: 10px auto;
	padding: 15px;
	width: 700px;
	background-color:#FCFCFC;
}

table {
	border: 1px solid;
	text-align: center;
}

td, th {
	width:150px;
	height: 40px;
	border:1px solid;
}

.col1 {
	width:200px;
}

.tab2, .tab3 {
	border: none;
}

.tab2 td, .tab3 td {
	width:250px;
	height: 50px;
	text-align: left;
	padding-left: 15px;
	border: none;
}

.tab2 thead td {
	font-weight: bold;
	border-bottom: 1px solid lightgrey;
}
.tab3 td {
	border-bottom: 1px solid lightgrey;
}

.tab3 thead td {
	font-weight: bold;
	border-bottom: 1px solid lightgrey;
}

.box2 {
	position: relative;
	margin: 20px auto;
	padding: 30px;
	padding-bottom: 0;
	width: 850px;
	border-radius: 10px;
	background-color: #F9F9F9;
	box-shadow:  0px 0px 16px 2px rgba(50, 50, 50, 0.75);
}
.box2 td {
	border:none;
	text-align: left;
	font-size: 16px;
	border-bottom: 1px solid lightgrey;
}

.last td{
	border:none;
}

.box2 table {
	border:none;
}

.box2 tr {
	height: 60px;
}

.box2 thead {
	font-weight: bold;
}
.first {
	width:250px;
}
.second {
	width: 350px;
}

.box2 tbody td:first-child {
	color: red;
}

button {
	background-color: red;
	color: white;
	width: 40px;
	height: 40px;
	font-size: 30px;
	text-align: center;
	border: none;
}
.butline {
	position: relative;
}

.butline button:last-child {
	width: 100px;
	height: 40px;
	font-size: 15px;
	text-transform: uppercase;
	background-color: #DC4E45;
	position: absolute;
	left: 90px;
}
.last tr {
	border-bottom: none;
}

.total {
	width: 300px;
	margin-left: 500px;
	font-size: 20px;
	line-height: 30px;
}
.bold {
	font-weight: bold;
}

.light {
	font-size: 18px;
	color: grey;
}

.basket {
	width: 220px;
	margin-left: 37%;
	margin-bottom: 40px;
	background-color: inherit;
	color: red;
	font-size: 20px;
	font-style: italic;
	box-sizing: border-box;
}
.sign {
	width: 39px;
	height: 39px;
	background-color: black;
	position: absolute;
	z-index: 2;
	top: -18px;
	left: 883px;
	font-size: 23px;
	text-align: center;
	padding: 0;
	outline: 0;
	border-radius: 50%;
	border:3px solid white;
	box-shadow: 0px 0px 4px 3px rgba(50, 50, 50, 0.75);
}